<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Mobile No.</th>
                    <th scope="col">Company</th>
                </tr>
            </thead>
            <tbody>
                <% employeelist.map((item)=>{%>
                    <tr>
                        <th scope="row"><%= item._id %> </th>
                        <td><%= item.name %> </td>
                        <td><%= item.age %> </td>
                        <td><%= item.mobile_no %> </td>
                        <td><%= item.company.companyName %> </td>
                    </tr>
                <%}) %> 
            </tbody>
        </table>
        <form action="/employee" method="post">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="employeeName" id="" placeholder="Enter Name">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="age" id="" placeholder="Enter age">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="mobileNo" placeholder="Enter MobileNo">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="company" id="" placeholder="Enter Company">
                </div>
                <div class="col">
                    <button type="submit" class="form-control btn btn-primary" >Add</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>